*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgba(255, 255, 255, 0.973);
    font-family:"Poppins", sans-serif;
    margin-left: 10px;
    margin-right: 10px;
 }
 .logo,.search{
    color: #fd2e5e;
 }
 .icon{
    display: flex;
    height: 30px;
 }
 .searchbar{
    display: flex;
    border: solid black 1px;
    width: 28%;
    border-radius: 30px;
    padding: 10px;
    justify-content: space-around;
    font-size: small;
 }
 .login{
    padding: 20px;
 }
 .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    animation-name: drop;
    transition-duration: 0.5s:
 }

 .logo{
    font-size: 15px;
  }
 .filter-section{
    display: flex;
    justify-content:space-around;
    text-align: center;
    padding: 10px;
    font-size:small;
    
    }
 .hotel-container{
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
 }
 img{
    border-radius: 10px;
 }
 img:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
 }
 .support{
    display: flex;
    justify-content:space-between;
    padding: 10px;
    margin-left: 25px;
    margin-bottom: 40px;
    margin-top: 40px;
}
.footer{
    padding: 25px;
   display: flex;
   justify-content:space-between
}
