
            *{
                padding: 0%;
                margin: 0%;
            }
            body{
                font-family: "Young Serif", serif;
            }
            .section_one{
                background-color: black;
                color: white;
                padding: 20px;
                border-radius: 10px;
            }
            .section1_name{
                font-size: 30px;
            }
            .section2__role{
                font-size: 20px;
                margin-top: 10px;
                margin-bottom: 20px;
            }
            .section3__contact{
                background-color: orangered;
                color: white;
                text-decoration: none;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 5px;
                padding-bottom: 5px;  
                border-radius: 5px;              
             }
             .container{
                padding: 50px;
             }

             .section_two{
                margin-top: 20px;
             }
             .section1_about{
                margin-bottom: 10px;
             }
             .section_three{
                background-color: rgb(99, 80, 207);
                padding: 20px;
                border-radius: 10px;
                margin-top: 20px;
                
                height: 120px;
                display: inline-block;
                vertical-align: top;
              }
             li{
                list-style: none;
             }
             .section_four{
                background-color: rgb(204, 95, 56);
                border-radius: 10px;
                padding: 20px;
                height: 120px;
                display: inline-block;
                vertical-align: bottom;

             }
             .section_5{
                background-color: black;
                color: white;
                border-radius: 10px;
                padding: 20px;
                margin-top: 20px;
             }
             .youtube{
                text-decoration: none;
             }

             .font{
               font-family:"Young Serif", serif;
               padding: 50px;
             }

             .div1{
               background-color: black;
               color: white;
               border-radius: 10px;
               padding: 20px;
            }
            .name1{
               font-size: 30px;
            }
            .role{
               font-size: 20px;
               margin-top: 10px;
               margin-bottom: 20px;
            }
            .home{
               background-color: rgb(255, 69, 0);
               text-decoration: none;
               color: white;
               padding-left: 10px;
               padding-right: 10px;
               padding-top: 5px;
               padding-bottom: 5px;
               border-radius: 5px;
            }
            .form{
               margin-top: 40px;
               margin-bottom: 100px;
               margin-left: 400px;
               
            }
            .nameinput{
               margin-bottom: 10px;
            }
            .button{
               background-color: rgb(251, 85, 25);
               padding-top: 5px;
               padding-bottom: 5px;
               padding-left: 10px;
               padding-right: 10px;      
               margin-left:120px;
               border-radius: 5px;
            }
             .footer{
               background-color: black;
               color: white;
               border-radius: 10px;
               padding: 20px;
             }
             


            
    